services:
  legacy-app:
    container_name: mfe-poc-legacy-app
    build:
      context: ./legacy-app
      dockerfile: Dockerfile
    ports:
      - "4500:80"
    networks:
      - mfe-poc-net
    restart: unless-stopped

  nexus:
    container_name: mfe-poc-nexus
    build:
      context: ./nexus
      dockerfile: Dockerfile
    ports:
      - "8082:8081"
    volumes:
      - nexus-data:/nexus-data
    networks:
      - mfe-poc-net
    restart: unless-stopped

networks:
  mfe-poc-net:
    name: mfe-poc-net
    driver: bridge

volumes:
  nexus-data:
    name: mfe-poc-nexus-data
