.center-home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__inner {
    color: var(--text-secondary);
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 1rem;
  }
  &__inner2 {
    color: var(--text-secondary);
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 0.1em;
  }
}
