registry=http://localhost:8082/repository/npm-private/
//localhost:8082/repository/npm-private/:username=admin
//localhost:8082/repository/npm-private/:_password=YWRtaW4xMjM=
//localhost:8082/repository/npm-private/:always-auth=true
